{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
{{ media }}
{% endblock %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content_title %}<h1>{% trans "Update details" %}</h1>{% endblock %}

{% block content %}<div id="content-main">
<form action="" method="post" id="{{ opts.module_name }}_form">
{% block form_top %}{% endblock %}
<div>

<fieldset class="module aligned">
    <h2>{% trans "Update info" %}</h2>

    <div class="form-row">
      <div class="field-box">
          <label>{% trans "Type" %} :</label><p>{{ original.get_update_type_display }}</p>
          {% if original.f.update_type.help_text %}<p class="help">{{ original.f.update_type.help_text }}</p>{% endif %}
      </div>
    </div>
    <div class="form-row">
      <div class="field-box">
          <label>{% trans "Date of update" %} :</label><p>{{ original.update_date|date }}</p>
          {% if original.f.update_date.help_text %}<p class="help">{{ original.f.update_date.help_text }}</p>{% endif %}
      </div>
    </div>
    {% if original.version %}
    <div class="form-row">
      <div class="field-box">
          <label>{% trans "Version" %} :</label><p>{{ original.version }}</p>
          {% if original.f.version.help_text %}<p class="help">{{ original.f.version.help_text }}</p>{% endif %}
      </div>
    </div>
    {% endif %}
    {% if original.url %}
    <div class="form-row">
      <div class="field-box">
          <label>{% trans "URL" %} :</label><p>{{ original.url }}</p>
          {% if original.f.url.help_text %}<p class="help">{{ original.f.url.help_text }}</p>{% endif %}
      </div>
    </div>
    {% endif %}
</fieldset>
<fieldset class="module aligned">
    <h2>{% trans "Statistics" %}</h2>

    <div class="form-row">
      <div class="field-box">
          <label>{% trans "Nb devices" %} :</label><p>{{ original.nb_devices }}</p>
          {% if original.f.nb_devices.help_text %}<p class="help">{{ original.f.nb_devices.help_text }}</p>{% endif %}
      </div>
    </div>
    <div class="form-row">
      <div class="field-box">
          <label>{% trans "Nb merges" %} :</label><p>{{ original.nb_merges }}</p>
          {% if original.f.nb_merges.help_text %}<p class="help">{{ original.f.nb_merges.help_text }}</p>{% endif %}
      </div>
    </div>
    <div class="form-row">
      <div class="field-box">
          <label>{% trans "Time taken" %} :</label><p>{{ original.time_for_update_pretty }}</p>
          {% if original.f.time_for_update.help_text %}<p class="help">{{ original.f.time_for_update.help_text }}</p>{% endif %}
      </div>
    </div>
</fieldset>
{% if original.errors %}
<fieldset class="module aligned">
    <h2>{% trans "Errors" %}</h2>

    <div class="form-row errors">
      <div class="field-box">
          {{ original.errors|linebreaksbr }}
      </div>
    </div>
</fieldset>
{% endif %}

<div class="submit-row">
<a href="../" class="default"/>{% trans "Back" %}</a>
</div>

</div>
</form></div>
{% endblock %}
